@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

body {
    font-family: 'Economica', sans-serif;
    margin: 0;
}

#alert {
    position: absolute;
    background-color: antiquewhite;
    width: 99.5%;
    padding-left: 0.5%;
}

#alert-title {
    font-size: 4em;
    padding: 0;
    margin-top: -0.1%
}

#alert-content {
    font-size: 1.7em;
    margin-top: -4%;

}